@media (max-width: 460px) {
    .form{
        max-width: 320px;
        height: 640px;
        margin: auto;
    }

    .register{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    input[type=text], input[type=email], input[type=password]{
        width: 250px;
    }

    .button{
        width: 250px;
    }

    
}