@media (max-width: 460px) {
    .form{
        max-width: 320px;
        height: 580px;
    }

    .login{
        padding: 0;
    }

    .forgot{
        width: 250px;
        text-align: right;
        padding: 10px 0;
    }

    input[type=text], input[type=email], input[type=password]{
        width: 250px;
    }

    .button{
        width: 250px;
    }
}